@import '../../scss/mixins';

.whiteboardMenu {
  @include whiteboardMenu;
  display: flex;
<<<<<<< HEAD
  // flex-direction: column;
  position: absolute;
  // top: 0;
  bottom: 0;
  left: 30%;
=======
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
>>>>>>> beacc65ac23c8b29b7d0bcf1893bec4c09c3db48
  margin: auto;
  height: fit-content;
}
