.activeVideo {
  // height: 100vh;
  height: 100%;

  &.mobile {
    // height: calc((100vw / (16/9)));

    height: 100%;
  }

  .videoBlock {
    height: 100%;

    &.hide {
      display: none;
    }
  }
}
